
.parent {
    display:flex;
    justify-content: space-around;
}
.custompc {
    display: flex;
}
.keyboards {
    display: flex;                                                                                                                                                                                      
}
