body {
  background-color: black;
}
h1,
a {
  color: white;
}
h2 {
  color: white;
}
img {
  transition: transform 0.25s ease;
  cursor: zoom-in;
}
img:active {
  -webkit-transform: scale(2);
  transform: scale(2);
}
