#current {
  background-color: #fff;
  color: black;
}
* {
  background-color: #0b0c10;
  box-sizing: border-box;
}
u {
  color: white;
  background: transparent;
}
body {
  background-color: #0b0c10;
}
.album-text {
  margin-top: 2%;
}
.ext {
  display: none;
  color: #0b0c10;
  text-decoration: none;
  border: none;
}
::selection {
  background-color: #fff;
  color: blue;
}
option,
select {
  color: white;
}
input {
  width: 70%;
  color: white;
  background-color: 0b0c10;
  border: none;
  outline: none;
  border-bottom: 1px solid #66fcf1;
  margin-right: 0px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  margin-bottom: -0.9rem;
  margin-left: 10px;
}
input:-webkit-autofill {
  -webkit-text-fill-color: white !important;
  transition: background-color 5000s ease-in-out 0s;
}
input:focus {
  width: 90%;
}
recents {
  font-size: 32pt;
  color: #66fcf1;
  font-family: monospace;
}
.navbar {
  font-size: 18px;
  border: 1px solid #66fcf1;
  padding-bottom: 10px;
  margin-top: -15px;
  margin-left: -1%;
  width: 102%;
}

.main-nav {
  list-style-type: none;
  display: none;
}
.nav-links {
  position: relative;
  top: 1rem;
}
.nav-links,
.logo {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
  font-family: monospace, "Lato", sans-serif;
}

.main-nav li {
  text-align: center;
  margin: 15px auto;
}

.logo {
  display: inline-block;
  font-size: 22px;
  margin-top: 10px;
  margin-left: 10px;
}

.navbar-toggle {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.8);
  font-size: 24px;
}

@media screen and (min-width: 1030px) {
  #myPicture {
    margin-top: 20px;
    width: 80%;
    height: 80%;
  }
}
.more {
  color: white;
  font-family: "Oswald", sans-serif;
}
h1:visited {
  color: white;
}

label {
  color: #66fcf1;
  font-family: monospace;
}
.numberOfPics {
  color: #66fcf1;
  font-family: monospace, sans-serif;
}
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

html {
  font-size: 100%;
}

body {
  padding: 1rem;
  font-family: Verdana, Geneva, sans-serif;
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.5;
}

p {
  margin: 0.5rem 0;
  font-size: 1.25rem;
  line-height: 1.5;
}
.flex-container {
  display: flex;
  flex-direction: row;
  font-size: 30px;
  width: 60%;
}
.main-pic {
  border-radius: 30px;
  width: 70%;
  box-shadow: 12px 12px 12px 12px #000;
}
.flex-item-left {
  padding: 10px;
  flex: 60%;
  border-radius: 30px;
  height: 40rem;
  margin: 1%;
  height: 50rem;
  margin-top: 0%;
  max-height: 50rem;
}

.flex-item-right {
  background-color: #45a29e;
  padding: 10px;
  flex: 30%;
  box-shadow: 12px 12px 12px 12px #000;
  border-radius: 0px;
  margin: 1%;
  height: 30rem;
  margin-top: 0%;
  max-height: 50rem;
  overflow-y: scroll;
  overflow-x: hidden;
  border-radius: 10px;
}
.flex-item-right::-webkit-scrollbar-track {
  margin-top: 10px;
  margin-bottom: 10px;
}
.flex-item-right::-webkit-scrollbar {
  width: 0.7em;
}

.flex-item-right::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0px rgba(0, 0, 0, 0.3);
}

.flex-item-right::-webkit-scrollbar-thumb {
  background-color: #1f2833;
  outline: 0px solid #1f2833;
  border-radius: 10px;
}
a {
  color: black;
  background-color: transparent;
}
.description {
  width: 70%;
  box-shadow: 12px 12px 12px 12px #000;
  position: relative;
}
.des-text {
  background-color: #45a19e;
  text-align: left;
  border-radius: 10px;
  text-indent: 10px;
  color: white;
}
.box {
  margin-top: -10%;
  border: 1px solid green;
  background-color: #45a29e;
  margin-left: 1.5%;
  width: 30%;
  height: 75%;
  border-radius: 30px;
  box-shadow: 12px 12px 12px 12px #000;
}
boxtext0 {
  color: white;
  background-color: transparent;
  text-align: left;
  font-size: 18pt;
  font-family: monospace
}
@media screen and (max-width: 1025px) {
  .main-pic, .description {
    width: 100%;
  }
  .flex-item-right {
    width: 50%;
    margin-left: 25%;
  }

}
@media (max-width: 1023px) {
  .main-pic, .description {
    width: 40%;
  }
  .flex-container {
    flex-direction: column;
    justify-content: space-between;
    font-size: 30px;
    width: 100%;
  }

  .flex-item-left {
    padding: 2%;
    flex: 50%;
    border-radius: 30px;
    margin: 1%;
    height: 50px;
    margin-bottom: 5%;
  }
}
.dropbtn {
  background-color: none;
  color: #ffffffb3;
  padding: 16px;
  font-size: 18px;
  border: none;
  margin-left: 25%;
  margin-top: 0.2rem;
  font-family: monospace;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: #ffffffb3;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #fff;
  cursor: pointer;
  color: black;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
  cursor: pointer;
  color: black;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: white;
  color: black;
  cursor: pointer;
}
/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}
@media screen and (max-width: 769px) and (min-width: 767px) {
  .main-pic, .description {
    width: 60%;
  }
}
@media screen and (min-width: 800px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    height: 70px;
    align-items: center;
    font-size: 18px;
    margin-top: -20px;
    margin-left: -1%;
    width: 102%;
  }

  .main-nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .main-nav li {
    margin: 0;
  }

  .nav-links {
    margin-left: 40px;
    padding: 15px;
  }

  .logo {
    margin-top: 0;
  }

  .navbar-toggle {
    display: none;
  }

  .nav-links:hover {
    color: #000;
    background-color: #fff;
  }
}
@media screen and (max-width: 770px) and (min-width: 700px) {
  .navbar {
    width: 104%;
    margin-left: -2%;
  }
}
@media screen and (max-width: 420px) and (min-width: 401px) {
  i {
    position: relative;
    top: -0.4rem;
    left: 0.5rem;
  }
  .navbar {
    width: 111%;
    margin-left: -5.5%;
    margin-top: -6%;
  }
  .main-pic, .description {
    width: 90%;
  }
  .flex-item-right {
    width: 100%;
    margin-left: 0%;
  }
}
@media screen and (max-width: 400px) {
  i {
    top: -0.1rem;
    left: 0.2rem;
  }
  .navbar {
    width: 112%;
    margin-left: -6.5%;
    margin-top: -6%;
  }
  .main-pic, .description {
    width: 90%;
  }
    .flex-item-right {
    width: 100%;
    margin-left: 0%;
  }
}
@media screen and (max-width: 376px) {
  i {
    top: -0.5rem;
    left: 0.2rem;
  }
  .width {
    font-size: 27px;
  }
  .main-pic, .description {
    width: 90%;
  }
    .flex-item-right {
    width: 100%;
    margin-left: 0%;
  }
}
@media screen and (max-width: 361px) {
  i {
    top: -0.5rem;
  }
  .width {
    font-size: 27px;
  }
  .main-pic, .description {
    width: 90%;
  }
    .flex-item-right {
    width: 100%;
    margin-left: 0%;
  }
}
@media screen and (max-width: 321px) {
  i {
    top: -0.2rem;
  }
  .width {
    font-size: 23px;
  }
  .main-pic, .description {
    width: 90%;
  }
    .flex-item-right {
    width: 100%;
    margin-left: 0%;
  }
}
.footer {
  color: white;
  display: inline-block;
  position: relative;
  bottom: 0;
  width: 99%;
  top: 9rem;
  height: 5.5rem;
}
.footer-text {
  font-size: 10pt;
}
body::-webkit-scrollbar {
  width: 1em;
}

body::-webkit-scrollbar-track,
body::-webkit-scrollbar-track-piece {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: #45a29e;
  outline: 0px solid slategrey;
  border-radius: 10px;
}
/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #1f2833; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #45a19e;
  display: block;
  transition: 0.3s;
  font-family: monospace;
  background: transparent;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#li {
  transition: margin-left 0.5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
