.fix-nav {
  overflow: hidden;
  opacity: 0.5;
  background-color: red;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  left: 1;
  width: 100%; /* Full width */
  height: 6%;
}

/* Links inside the navbar */
.fix-nav a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 20px;
  text-decoration: none;
  font-size: large;
}

/* Change background on mouse-over */
.fix-nav a:hover {
  background: #ddd;
  color: black;
}

#current {
  background-color: #fff;
  color: black;
}
button::hover {
  cursor: pointer;
}
u {
  background: transparent;
}
body {
  background-image: url("mona-phona.jpg");
  background-size: 100%;
  font-family: monospace;
}


.footer {
  color: white;
  display: inline-block;
  position: relative;
  bottom: -5rem;
  width: 99%;
  height: 3.5rem;
}
