@font-face {
  font-family: "Tesla";
  src: url("TESLA.ttf") format("truetype");
}
.images-container {
  margin-top: 50px;
}
body {
  background-color: black;
}
h1 {
  color: white;
}
textarea {
  font-size: 20px;
  max-width: 97%;
  background: transparent;
  color: #fff;
}

button {
  display: none;
}
#output {
  font-size: 23px;
  padding: 3%;
  font-family: monospace;
}
h1 {
  font-family: tesla;
}
/*.footer {
  color: white;
  position: absolute;
  bottom: 0;
  width: 99%;
  height: 3.5rem;
}*/
.footer {
  position: relative;
  text-align: center;
  top: 30%;
  width: 100%;
  color: white;
}
textarea {
  margin-top: 50px;
}
::selection {
  color: #000;
  background: teal;
}