body {
  font-family: "monospace", sans-serif;
  background: #fff;

}
h2 {
  font-size: 2em;
  color: #625c58;
  background-clip: text;
  letter-spacing: 3px;
  word-spacing: 7px;
}
.img-background {
  box-shadow: 5px 5px 25px 5px #abad1896
}

::selection {
  color: blueviolet;
  background-color: cadetblue;
}


p {
    font-family: monospace;
    font-size: 20pt;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.all {
  display: flex;
}
.one {
  flex: 33.33%;
  margin-top: 6%;
}
.two {
  flex: 33.33%;
  margin-top: 6%;
}
.three {
  flex: 33.33%;
  margin-top: 6%;
}

@media screen and (max-width: 1600px) {
  .all {
    display: inline;
  }
}
